@model HealthIns.Web.InputModels.Bussines.Contract.ContractCreateInputModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="bg-primary text-white font-weight-bold text-center p-3 w-60 mx-auto rounded">Create Product</h1>
<div class="container mt-4">
    <form class="my-4" method="post" enctype="multipart/form-data">
        <h2 class="text-center">New Business</h2>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="PersonId">Person Id</label>
            <input type="text" class="form-control" id="personId" name="personId" input asp-for="PersonId">
            <span asp-validation-for="PersonId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ProductIdntfr">Product Identifier</label>
            <input type="text" class="form-control" id="productIdntfr" name="productIdntfr" input asp-for="ProductIdntfr">
            <span asp-validation-for="ProductIdntfr" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DistributorId">Distributor Id</label>
            <input type="text" class="form-control" id="distributorId" name="distributorId" input asp-for="DistributorId">
            <span asp-validation-for="DistributorId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="StartDate">Start Date</label>
            <input type="date" class="form-control" id="startDate" name="startDate" input asp-for="StartDate">
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="NextBillingDueDate">Next Billing Due Date</label>
            <input type="date" class="form-control" id="nextBillingDueDate" name="nextBillingDueDate" input asp-for="NextBillingDueDate">
            <span asp-validation-for="NextBillingDueDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Amount">Beneficiary Amount(in EUR)</label>
            <input type="number" class="form-control" id="amount" name="amount" input asp-for="Amount">
            <span asp-validation-for="Amount" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Duration">Contract Duration(in Years)</label>
            <input type="number" class="form-control" id="duration" name="duration" input asp-for="Duration">
            <span asp-validation-for="Duration" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Frequency">Frequency</label>
            <select class="form-control" id="frequency" name="frequency">
                <option value="MONTHLY" selected="selected">Monthly</option>
                <option value="TRIMESTER">Trimester</option>
                <option value="SEMI_ANNUAL">Semi-Annual</option>
                <option value="ANUAL">Annual</option>
            </select>

        </div>
        <div class="text-center">
            <button type="button" data-toggle="modal" class="btn btn-primary" data-target="#save">
                Save <i class="fas fa-chevron-circle-right"></i>
            </button>
        </div>
        <div class="modal fade" id="save" tabindex="-1" role="dialog"
             aria-labelledby="deleteUserLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteUserLabel">This action can't be undone</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure to save this contract?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button name="action" value="save" class="btn btn-primary" type="submit">
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
