@if (this.TempData.ContainsKey("info"))
{
    <div id="messages" class="text-center alert alert-info alert-dismissible" role="alert">
        <p class="close" data-dismiss="alert" aria-label="close">&times;</p>
        <strong>@this.TempData["info"]</strong>
    </div>
}


