@model HealthIns.Web.InputModels.ContractCreateInputModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="bg-primary text-white font-weight-bold text-center p-3 w-60 mx-auto rounded">Create Product</h1>
<div class="container mt-4">
    <form class="my-4" method="post" enctype="multipart/form-data">
        <h2 class="text-center">New Business</h2>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="ProductId">Product Identifier</label>
            <input type="text" class="form-control" id="productId" name="productId" input asp-for="ProductId">
            <span asp-validation-for="ProductId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="StartDate">Start Date</label>
            <input type="date" class="form-control" id="startDate" name="startDate" input asp-for="StartDate">
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="NextBillingDueDate">Start Date</label>
            <input type="date" class="form-control" id="nextBillingDueDate" name="nextBillingDueDate" input asp-for="NextBillingDueDate">
            <span asp-validation-for="NextBillingDueDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Amount">Beneficiary Amount(in EUR)</label>
            <input type="number" class="form-control" id="amount" name="amount" input asp-for="Amount">
            <span asp-validation-for="Amount" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Duration">Contract Duration(in Years)</label>
            <input type="number" class="form-control" id="duration" name="duration" input asp-for="Duration">
            <span asp-validation-for="Duration" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="frequency">Frequency</label>
            <select class="form-control" id="frequency" name="frequency">
                <option value="MONTHLY" selected="selected">Monthly</option>
                <option value="TRIMESTER">Trimester</option>
                <option value="SEMI_ANNUAL">Semi-Annual</option>
                <option value="ANUAL">Annual</option>
            </select>

        </div>

        <div class="text-center">
            <button type="submit" name="action" value="return" class="btn btn-secondary">
                <svg class="svg-inline--fa fa-chevron-circle-left fa-w-16" aria-hidden="true" data-prefix="fas" data-icon="chevron-circle-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M256 504C119 504 8 393 8 256S119 8 256 8s248 111 248 248-111 248-248 248zM142.1 273l135.5 135.5c9.4 9.4 24.6 9.4 33.9 0l17-17c9.4-9.4 9.4-24.6 0-33.9L226.9 256l101.6-101.6c9.4-9.4 9.4-24.6 0-33.9l-17-17c-9.4-9.4-24.6-9.4-33.9 0L142.1 239c-9.4 9.4-9.4 24.6 0 34z"></path></svg><!-- <i class="fas fa-chevron-circle-left"></i> --> Return
            </button>
            <button type="submit" name="action" value="save" class="btn btn-primary">Continue <svg class="svg-inline--fa fa-chevron-circle-right fa-w-16" aria-hidden="true" data-prefix="fas" data-icon="chevron-circle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M256 8c137 0 248 111 248 248S393 504 256 504 8 393 8 256 119 8 256 8zm113.9 231L234.4 103.5c-9.4-9.4-24.6-9.4-33.9 0l-17 17c-9.4 9.4-9.4 24.6 0 33.9L285.1 256 183.5 357.6c-9.4 9.4-9.4 24.6 0 33.9l17 17c9.4 9.4 24.6 9.4 33.9 0L369.9 273c9.4-9.4 9.4-24.6 0-34z"></path></svg><!-- <i class="fas fa-chevron-circle-right"></i> --></button>
        </div>
    </form>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
