th, td {
    white-space: nowrap;
}


div#messages div {
    width: 80%;
    margin: 5px auto;
    border-radius: 5px;
}

input.input-validation-error,
textarea.input-validation-error,
select.input-validation-error {
    background: #FEF1EC;
    border: 1px solid #CD0A0A;
}